h1{
  color: salmon;
  text-align: center;
  font-size: 30px;
  font-style: oblique;
}

body{
  background-image: url("bear.jpg");
  background-color: #8b9958;
}

ul{
    background-color: #3aaf8a;
    text-decoration: underline;
    color :white;
}
 p{
   font-size: 20px;
 }
img{
  text-align: center;
}
